body{
    background-color: #C2AAE3;
    }
    div{
    background-color: #C2AAE3;
    }
    h3{
    color: white;
    text-shadow: 2px 4px 5px #A56ACB;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }